<div class="">
    <div class="mb-3">
        <div class="pb-3 border-bottom mb-3">
            <h6 class="mb-0">Saas Settings</h6>
        </div>
        <form>
            <div class="card-body vh-100 border-bottom mb-3">
                <div class="row align-items-center mb-3">
                    <div class="col-md-8 col-sm-12">
                        <label class="form-label fw-medium">Default Currency</label>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <mat-select class="custom-mat-select select" placeholder="Dollar">
                            <mat-option value="1">Dollar</mat-option>
                            <mat-option value="1">USD</mat-option>
                            <mat-option value="1">Euro</mat-option>
                            <mat-option value="1">Pound</mat-option>
                            <mat-option value="1">Rupee</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-md-8 col-sm-12">
                        <label class="form-label fw-medium">Days between initial warning and subscription ends</label>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <input type="text" class="form-control">
                    </div>
                </div> 
                <div class="row align-items-center mb-3">
                    <div class="col-md-8 col-sm-12">
                        <label class="form-label fw-medium">Interval days between warnings</label>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-md-8 col-sm-12">
                        <label class="form-label fw-medium">Maximum Free Domain A Subscriber Can Create</label>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-9">
                        <label class="form-label fw-medium">Email Verification</label>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-9">
                        <label class="form-label fw-medium">Auto approve Domain creation request</label>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" checked />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer justify-content-between">
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back me-2 border">Cancel</a>
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary">Save Changes</a>
            </div>
        </form>
    </div>
</div><!-- end col -->