
			<!-- Start Content -->
			<div class="">
				<div class="mb-3">
					<div class="pb-3 border-bottom mb-3">
						<h6 class="mb-0">Invoice Templates</h6>
					</div>
					<form >
						<ul class="nav nav-tabs nav-bordered mb-3">
							<li class="nav-item">
								<a id="invoice-tab" data-bs-toggle="tab" data-bs-target="#invoice_tab" type="button" role="tab" aria-controls="invoice_tab" aria-selected="true" href="javascript:void(0);" class="nav-link active">Invoice</a>
							</li>
							<li class="nav-item">
								<a  id="purchases-tab"  data-bs-toggle="tab" data-bs-target="#purchases_tab" type="button" role="tab" aria-controls="purchases_tab" aria-selected="true" class="nav-link" href="javascript:void(0);">Purchases</a>
							</li>
							<li class="nav-item">
								<a id="receipt-tab" data-bs-toggle="tab" data-bs-target="#receipt_tab" type="button" role="tab" aria-controls="receipt_tab" aria-selected="true" class="nav-link" href="javascript:void(0);">Receipt</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="invoice_tab" role="tabpanel" aria-labelledby="invoice-tab" tabindex="0">
								
								<!-- start row -->
								<div class="row gx-3">
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-31.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_1"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice1">General Invoice 1</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div>
										</div>
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-32.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_2"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice2">General Invoice 2</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-33.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_3"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice3">General Invoice 3</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-34.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_4"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice4">General Invoice 4</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-35.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_5"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice5">General Invoice 5</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-36.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_6"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice6">General Invoice 6</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-37.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_7"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice7">General Invoice 7</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-38.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_8"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice8">General Invoice 8</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-39.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_9"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice9">General Invoice 9</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-40.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_10"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.generalInvoice10">General Invoice 10</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
								</div>
								<!-- end row -->

							</div>
							<div class="tab-pane" id="purchases_tab" role="tabpanel" aria-labelledby="purchases-tab" tabindex="0">
								
								<!-- start row -->
								<div class="row gx-3">
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-41.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view11"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.busBookingInvoice">Bus Booking</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-42.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_12"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.carBookingInvoice">Car Booking</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-43.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_13"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.coffeeShopInvoice">Coffee Shop</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-44.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_14"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.domainHostingInvoice">Domain & Hosting</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div>
										</div>
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-45.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_15"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.ecommerceInvoice">Ecommerce</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-46.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_16"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.fitnessCenterInvoice">Fitness</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-47.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_17"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.flightBookingInvoice">Dream Flights</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-48.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_18"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.hotelBookingInvoice">Hotel Booking</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-49.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_19"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.internetBillingInvoice">Internet Billing</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-50.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_20"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.invoiceMedical">Medical</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-51.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_21"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.moneyExchangeInvoice">Money Exchange</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-52.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_22"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.movieTicketBookingInvoice">Movie Ticket</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-53.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_23"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.restaurantsInvoice">Restaurant</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-54.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_24"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.studentBillingInvoice">Student Billing</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-55.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_25"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.trainTicketInvoice">Train Ticket</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
								</div>
								<!-- end row -->

							</div>
							<div class="tab-pane" id="receipt_tab" role="tabpanel" aria-labelledby="receipt-tab" tabindex="0">
								
								<!-- start row -->
								<div class="row gx-3">
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-56.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_26"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.receiptInvoice1">Receipt Invoice 1</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-57.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_27"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.receiptInvoice2">Receipt Invoice 2</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-58.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_28"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.receiptInvoice3">Receipt Invoice 3</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
									<div class="col-md-3">
										<div class="card invoice-template">
											<div class="card-body p-2">
												<div class="invoice-img">
													<a href="javascript:void(0);">
														<img class="w-100" src="assets/img/invoice/general-invoice-59.svg" alt="invoice">
													</a>
													<a href="javascript:void(0);" class="invoice-view-icon" data-bs-toggle="modal" data-bs-target="#invoice_view_29"><i class="isax isax-eye"></i></a>
												</div>
												<div class="d-flex justify-content-between align-items-center">
													<a [routerLink]="routes.receiptInvoice4">Receipt Invoice 4</a>
													<a href="javascript:void(0);" class="invoice-star d-flex align-items-center justify-content-center">
														<i class="isax isax-star"></i>
													</a>
												</div>
											</div><!-- end card body -->
										</div><!-- end card -->
									</div><!-- end col -->
								</div>
								<!-- end row -->

							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- End Content -->


            <!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_1">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 1</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-61.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_2">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 2</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-62.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_3">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 3</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-63.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_4">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 4</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-64.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_5">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 5</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="bg-dark"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-65.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_6">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 6</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-66.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_7">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 7</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-67.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_8">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 8</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-68.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_9">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 9</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-69.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_10">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">General Invoice 10</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-70.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_11">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Bus Booking</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-71.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_12">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Car Booking</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-72.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_13">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Coffee Shop</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-73.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_14">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Domain & Hosting</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-74.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_15">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Ecommerce</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-75.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_16">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Fitness</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-76.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_17">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Dream Flights</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-77.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_18">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Hotel Booking</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-78.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_19">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Internet Billing</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-79.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_20">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Medical</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-80.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_21">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Money Exchange</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-81.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_22">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Movie Ticket</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-82.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_23">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Restaurant</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-83.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_24">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Student Billing</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-84.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_25">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Train Ticket</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center"><img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-85.svg" alt="User Img"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_26">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Receipt Invoice 1</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center">
							<img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-86.svg" alt="User Img">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_27">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Receipt Invoice 2</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center">
							<img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-87.svg" alt="User Img">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_28">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Receipt Invoice 3</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center">
							<img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-88.svg" alt="User Img">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->
		<!-- Start Invoivce View -->
		<div class="modal fade addmodal" id="invoice_view_29">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="mb-0">Receipt Invoice 4</h4>
						<button type="button" class="btn-close btn-close-modal custom-btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-x"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="d-flex align-items-center justify-content-center">
							<img class="w-100 invoice-template-img" src="assets/img/invoice/general-invoice-89.svg" alt="User Img">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Invoivce View -->