<div *ngIf="isOpen" class="modal-overlay" [class.animating]="isAnimating" (click)="onBackdropClick($event)">
    <div class="modal-container" [ngClass]="[getSizeClass(), config.customClass]" (click)="$event.stopPropagation()">
        <!-- Header -->
        <div class="modal-header" *ngIf="config.title || config.showCloseButton">
            <ng-content select="[modal-header]"></ng-content>

            <h5 *ngIf="config.title && !hasCustomHeader" class="modal-title">
                {{ config.title | translate }}
            </h5>

            <button *ngIf="config.showCloseButton" type="button" class="btn-close" (click)="closeModal()"
                [attr.aria-label]="'common.close' | translate">
                <i class="isax isax-close-circle"></i>
            </button>
        </div>

        <!-- Body -->
        <div class="modal-body">
            <ng-content select="[modal-body]"></ng-content>
            <ng-content></ng-content>
        </div>

        <!-- Footer -->
        <div class="modal-footer" *ngIf="config.showFooter">
            <ng-content select="[modal-footer]"></ng-content>
        </div>
    </div>
</div>