            <!-- Start Content -->
            <div class="content-two video-call-content">

                <!-- Page Header -->
                <div class="d-flex mb-3 right-content align-items-center flex-wrap justify-content-between">
                    <div class="me-2 mb-2">
                        <div class="input-icon-start position-relative">
                            <span class="input-icon-addon">
                        <i class="ti ti-search"></i>
                    </span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <div class="mb-2">
                        <a href="javascript:void(0);" class="btn btn-primary btn-lg d-flex align-items-center"><i class="ti ti-circle-plus me-2"></i>Add People</a>
                    </div>
                </div>
                <!-- end page header -->

                <!-- start row -->
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="single-video d-flex">
                            <div class="join-video flex-fill">
                                <img src="assets/img/media/video.jpg" class="img-fluid" alt="Logo">
                                <div class="chat-active-users">
                                    <div class="video-avatar">
                                        <img src="./assets/img/users/user-01.jpg" class="img-fluid" alt="Logo">
                                        <div class="user-name">
                                            <span>Joanne Conner</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="record-item d-flex align-items-center">
                                    <div class="record-time me-2">
                                        <span>40:12</span>
                                    </div>
                                    <a href="javascript:void(0);" class="video-expand btnFullscreen	" (click)="fullscreen()">
                                        <i class="ti ti-maximize"></i>
                                    </a>
                                </div>
                                <div class="more-icon">
                                    <a href="javascript:void(0);" class="mic-off">
                                        <i class="bx bx-microphone-off"></i>
                                    </a>
                                </div>
                                <div class="call-overlay-bottom d-flex justify-content-sm-between align-items-center flex-wrap w-100">
                                    <a href="javascript:void(0);" class="options-icon d-flex align-items-center justify-content-center guest-off rounded"><i class="ti ti-user-off"></i></a>
                                    <div class="call-option rounded-pill d-flex justify-content-center align-items-center">
                                        <a href="javascript:void(0);" class="options-icon bg-light d-flex justify-content-center align-items-center rounded me-2"><i class="ti ti-microphone"></i></a>
                                        <a href="javascript:void(0);" class="options-icon bg-light d-flex justify-content-center align-items-center rounded me-2"><i class="ti ti-video"></i></a>
                                        <a href="javascript:void(0);" class="call-icon btn-danger d-flex justify-content-center align-items-center rounded"><i class="ti ti-phone"></i></a>
                                        <a href="javascript:void(0);" class="options-icon bg-light d-flex justify-content-center align-items-center rounded mx-2"><i class="ti ti-volume"></i></a>
                                        <a href="javascript:void(0);" class="options-icon bg-light d-flex justify-content-center align-items-center rounded"><i class="ti ti-device-imac-share"></i></a>
                                    </div>
                                    <a href="javascript:void(0);" class="options-icon bg-light d-flex align-items-center justify-content-center rounded" id="show-message"><i class="ti ti-dots"></i></a>
                                </div>
                            </div>
                        </div>

                    </div><!-- end col -->
                </div>
                <!-- end row -->

            </div>
            <!-- End Content -->