<div class="">
    <div>
        <div class="pb-3 border-bottom mb-3">
            <h6 class="mb-0">Sitemap</h6>
        </div>
        <div class="mb-3">
            <!-- Table Search -->

             <!-- start row -->
            <div class="row">
                <div class="col-md-3">
                    <div class="input-icon-start position-relative me-2 mb-3">
                        <span class="input-icon-addon">
                            <i class="isax isax-search-normal"></i>
                        </span>
                        <input type="text" class="form-control form-control-sm bg-white" placeholder="Search">
                    
                    </div>
                </div><!-- end col -->
                <div class="col-md-9">
                    <div class="d-flex justify-content-end align-items-center flex-wrap gap-2 mb-3">
                        <div>
                            <a href="javascript:void(0);" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add_modal"><i class="isax isax-add-circle5 me-1"></i>Generate Sitemap</a>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->
            <!-- /Table Search -->
            
            <!-- Table List -->
            <div class="table-responsive table-nowrap">
                <table class="table border dataTable">
                    <thead class="table-light">
                        <tr>
                            <th>URL</th>
                            <th>File Name</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><h6 class="fs-14 fw-normal">https://localhost/Kanakku</h6></td>
                            <td>sitemap18725604.xml</td>
                            <td class="action-item">
                                <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <i class="isax isax-more"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#edit_modal"><i class="isax isax-edit me-2"></i>Edit</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash me-2"></i>Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /Table List -->
        </div>
    </div>
</div><!-- end col -->



<!-- Start Add Modal  -->
<div id="add_modal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Start modal header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Sitemap</h4>
                <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <!-- End modal header -->
            <form>
                <div class="modal-body">

                    <!-- start row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <label class="form-label">Sitemap URL <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div><!-- end col -->
                    </div>
                    <!-- end row -->

                </div>

                <div class="modal-footer d-flex align-items-center justify-content-between gap-1">
                    <button type="button" class="btn btn-outline-white" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add New</button>
                </div>

            </form>
        </div><!-- End modal content-->
    </div><!-- End modal dialog-->
</div>
<!-- / End  Add Modal -->

<!-- Start Edit Modal  -->
<div id="edit_modal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Start modal header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Sitemap</h4>
                <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <!-- End modal header -->
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <label class="form-label">Sitemap URL <span class="text-danger">*</span></label>
                                <input type="text" value="https://localhost/Kanakku" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex align-items-center justify-content-between gap-1">
                    <button type="button" class="btn btn-outline-white" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
                </div>
            </form>
        </div><!-- End modal content-->
    </div><!-- End modal dialog-->
</div>
<!-- / End Edit Modal -->

<!-- Start Delete Modal  -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="mb-3">
                    <img src="assets/img/icons/delete.svg" alt="img">
                </div>
                <h6 class="mb-1">Delete Sitemap</h6>
                <p class="mb-3">Are you sure,  you want to delete Sitemap?</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-outline-white me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Yes, Delete</a>
                </div>
            </div><!-- End modal body -->
        </div><!-- End modal content -->
    </div><!-- End modal dialog -->
</div>
<!-- End Delete Modal  -->