<div class="content-two">
             
    <!-- start row -->
    <div class="row">
        <div class="col-xxl-12">
            <div class="card incoming-call mb-0 shadow-none">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                    <div class="voice-call-img mb-3">
                        <img src="assets/img/users/user-01.jpg" class="img-fluid rounded-circle" alt="img">
                    </div>
                    <h5>Anthony Lewis</h5>
                    <p>Calling...</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-success call-item p-0 d-flex align-items-center justify-content-center me-3"><i class="ti ti-phone fs-20"></i></a>
                        <a href="javascript:void(0);" class="btn btn-danger call-item p-0 d-flex align-items-center justify-content-center"><i class="ti ti-phone-off fs-20"></i></a>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

</div>