<!-- Sidebar -->
<div
class="two-col-sidebar d-block" id="two-col-sidebar"
  (mouseover)="miniSideBarMouseHover('over')"
  (focus)="miniSideBarMouseHover('over')"
  (mouseout)="miniSideBarMouseHover('out')"
  (blur)="miniSideBarMouseHover('out')"
  >
  <div class="twocol-mini">
    <!-- Add -->
    <div class="dropdown">
      <a class="btn btn-primary bg-gradient btn-sm btn-icon rounded-circle d-flex align-items-center justify-content-center" data-bs-toggle="dropdown" href="javascript:void(0);" role="button"  data-bs-display="static" data-bs-reference="parent">
        <i class="isax isax-add"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-start">
        <li>
          <a [routerLink]="routes.addInvoice" class="dropdown-item d-flex align-items-center">
            <i class="isax isax-document-text-1 me-2"></i>Invoice
          </a>
        </li>
        <li>
          <a [routerLink]="routes.expenses" class="dropdown-item d-flex align-items-center">
            <i class="isax isax-money-send me-2"></i>Expense
          </a>
        </li>
        <li>
          <a [routerLink]="routes.addCreditNotes" class="dropdown-item d-flex align-items-center">
            <i class="isax isax-money-add me-2"></i>Credit Notes
          </a>
        </li>
        <li>
          <a [routerLink]="routes.addDebitNotes" class="dropdown-item d-flex align-items-center">
            <i class="isax isax-money-recive me-2"></i>Debit Notes
          </a>
        </li>
        <li>
          <a [routerLink]="routes.addPurchaseOrder" class="dropdown-item d-flex align-items-center">
            <i class="isax isax-document me-2"></i>Purchase Order
          </a>
        </li>
        <li>
          <a [routerLink]="routes.addQuotations" class="dropdown-item d-flex align-items-center">
            <i class="isax isax-document-download me-2"></i>Quotation
          </a>
        </li>
        <li>
          <a [routerLink]="routes.addDeliveryChallan" class="dropdown-item d-flex align-items-center">
            <i class="isax isax-document-forward me-2"></i>Delivery Challan
          </a>
        </li>
      </ul>
    </div>
    <!-- /Add -->

    <ul class="menu-list">
      <li>
        <a [routerLink]="routes.customerAccountsettings" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Settings"><i class="isax isax-setting-25"></i></a>
      </li>
      <li>
        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Documentation"><i class="isax isax-document-normal4"></i></a>						
      </li>
      <li>
        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Changelog"><i class="isax isax-cloud-change5"></i></a>						
      </li>
      <li>
        <a [routerLink]="routes.login"><i class="isax isax-login-15"></i></a>				
      </li>
    </ul>
  </div>
  <div class="sidebar" id="sidebar-two">
    <!-- Logo -->
    <div class="sidebar-logo">
      <a [routerLink]="routes.index" class="logo logo-normal">
        <img src="assets/img/logo.svg" alt="Logo">
      </a>
      <a [routerLink]="routes.index" class="logo-small">
        <img src="assets/img/logo-small.svg" alt="Logo">
      </a>
      <a [routerLink]="routes.index" class="dark-logo">
        <img src="assets/img/logo-white.svg" alt="Logo">
      </a>
              
      <a id="toggle_btn" href="javascript:void(0);" (click)="toggleSidebar()">
        <i class="isax isax-menu-1"></i>
      </a>
    </div>
    <!-- /Logo -->
        
    <!-- Search -->
    <div class="sidebar-search">
      <div class="input-icon-end position-relative">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-icon-addon">
          <i class="isax isax-search-normal"></i>
        </span>
      </div>
    </div>
    <!-- /Search -->
<ng-scrollbar>
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        @for(mainMenus of side_bar_data;track mainMenus){
          <li>
            <ul>
              @for(menu of mainMenus.menu;track menu){
                @if(menu.hasSubRoute===true){
              <li class="submenu">
                  <a href="javascript:void(0);" (click)="expandSubMenus(menu)"
                  [ngClass]="{ 'subdrop': menu.showSubRoute === true}" [class.active]="page===menu.base || page===menu.base2">
                    <i class="isax text-dark" [class]="'isax-' + menu.icon"></i><span>{{menu.menuValue}}</span>
                    <span class="menu-arrow"></span>
                  </a>
                  <ul [ngClass]="
                  menu.showSubRoute === true
                    ? 'd-block'
                    : 'd-none'
                ">
                    <li>
                      @for(subMenu of menu.subMenus;track subMenu){
                        <a [routerLink]="subMenu.route" routerLinkActive="active">{{subMenu.menuValue}}</a>
                      }
                    </li>
                  </ul>
                </li>
                }
                @if(menu.hasSubRoute===false){
                  <li [class.active]="page===menu.base">
                    <a [routerLink]="menu.route" >
                      <i class="isax text-dark" [class]="'isax-' + menu.icon"></i><span>{{menu.menuValue}}</span>
                    </a>
                  </li>
                }
              }
            </ul>
          </li>
        }
      </ul>
      <div class="sidebar-footer" [hidden]="sidebarfooter">
        <div class="trial-item bg-white text-center border">
          <div class="bg-light p-3 text-center">
            <img src="assets/img/icons/upgrade.svg" alt="img">
          </div>
          <div class="p-2">
            <h6 class="fs-14 fw-semibold mb-1">Upgrade to More</h6>
            <p class="fs-13 mb-2">Subscribe to get more with Premium Features</p>
            <a [routerLink]="routes.customerPlanssettings" class="btn btn-sm btn-primary w-100 d-flex align-items-center justify-content-center"><i class="isax isax-crown5 me-1"></i>Upgrade</a>
          </div>
          <a href="javascript:void(0);" class="close-icon" (click)="closefooter()"><i class="fa-solid fa-x"></i></a>
        </div>
                      <ul class="menu-list">
                          <li>
                              <a [routerLink]="routes.customerAccountsettings" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Settings"><i class="isax isax-setting-25"></i></a>
                          </li>
                          <li>
                              <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Documentation"><i class="isax isax-document-normal4"></i></a>						
                          </li>
                          <li>
                              <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Changelog"><i class="isax isax-cloud-change5"></i></a>						
                          </li>
                          <li>
                              <a [routerLink]="routes.login" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Login"><i class="isax isax-login-15"></i></a>				
                          </li>
                      </ul>
      </div>
    </div>
  </div>
</ng-scrollbar>
  </div>


</div>
<!-- /Sidebar -->
        