<div class="">
    <div class="mb-3 pb-3 border-bottom">
        <h6 class="fw-bold mb-0">Appearance</h6>
    </div>
    <form>
        <div class="mb-3">

            <!-- start row -->
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-4">
                    <div class="setting-info mb-3">
                        <h6 class="fs-14 mb-1 fw-semibold">Select Theme</h6>
                        <span>Choose theme of website</span>
                    </div>
                </div><!-- end col -->
                <div class="col-xl-8 col-md-8">
                    <div class="row theme-type-images d-flex align-items-center">
                        <div class="col-md-4">
                            <div class="card theme-image" [class.active]="active[0]" (click)="toggleActive(0)">
                                <div class="card-body p-2">
                                    <a href="javascript:void(0);">
                                        <div class="border rounded border-gray mb-2">
                                            <img src="assets/img/theme/light.jpg" class="img-fluid rounded" alt="theme">
                                        </div>
                                        <p class="text-center fw-medium text-truncate">Light</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card theme-image" [class.active]="active[1]" (click)="toggleActive(1)">
                                <div class="card-body p-2">
                                    <a href="javascript:void(0);">
                                        <div class="border rounded border-gray mb-2">
                                            <img src="assets/img/theme/dark.jpg" class="img-fluid rounded" alt="theme">
                                        </div>
                                        <p class="text-center fw-medium text-truncate">Dark</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card theme-image" [class.active]="active[2]" (click)="toggleActive(2)">
                                <div class="card-body p-2">
                                    <a href="javascript:void(0);">
                                        <div class="border rounded border-gray mb-2">
                                            <img src="assets/img/theme/automatic.jpg" class="img-fluid rounded" alt="theme">
                                        </div>
                                        <p class="text-center fw-medium text-truncate">Automatic</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

            <!-- start row -->
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-4">
                    <div class="setting-info mb-3">
                        <h6 class="fs-14 mb-1 fw-semibold">Accent Color</h6>
                        <span>Choose accent colour of website</span>
                    </div>
                </div><!-- end col -->
                <div class="col-xl-8 col-md-8">
                    <div class="theme-colors d-flex align-items-center justify-content-end mb-3">
                        <ul class="d-flex align-items-center gap-2 flex-wrap list-unstyled">
                            <li>
                                <span class="themecolorset" [class.active]="active2[0]" (click)="toggleActive2(0)">
                                    <span class="primecolor bg-primary">
                                        <span class="colorcheck text-white"><i class="ti ti-check text-primary fs-10"></i></span>
                                </span>
                                </span>
                            </li>
                            <li>
                                <span class="themecolorset" [class.active]="active2[1]" (click)="toggleActive2(1)">
                                    <span class="primecolor bg-secondary">
                                        <span class="colorcheck text-white"><i class="ti ti-check text-primary fs-10"></i></span>
                                </span>
                                </span>
                            </li>
                            <li>
                                <span class="themecolorset" [class.active]="active2[2]" (click)="toggleActive2(2)">
                                    <span class="primecolor bg-info">
                                        <span class="colorcheck text-white"><i class="ti ti-check text-primary fs-10"></i></span>
                                </span>
                                </span>
                            </li>
                            <li>
                                <span class="themecolorset" [class.active]="active2[3]" (click)="toggleActive2(3)">
                                    <span class="primecolor bg-danger">
                                        <span class="colorcheck text-white"><i class="ti ti-check text-primary fs-10"></i></span>
                                </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

            <!-- start row -->
            <div class="row align-items-center justify-content-between mb-3">
                <div class="col-xl-4 col-md-4">
                    <div class="">
                        <h6 class="fs-14 mb-1 fw-semibold">Expand Sidebar</h6>
                        <span>Choose expand sidebar</span>
                    </div>
                </div><!-- end col -->
                <div class="col-xl-3 col-md-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="form-check form-switch">
                            <input class="form-check-input m-0" type="checkbox" checked="">
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

            <!-- start row -->
            <div class="row align-items-center justify-content-between mb-3">
                <div class="col-xl-4 col-md-4">
                    <div class="">
                        <h6 class="fs-14 mb-1 fw-semibold">Sidebar Size</h6>
                        <span>Select size of the sidebar to display</span>
                    </div>
                </div><!-- end col -->
                <div class="col-xl-3 col-md-4">
                    <div class="d-flex align-items-center justify-content-end mt-2 mt-md-0">
                        <mat-select class="custom-mat-select select" placeholder="Medium - 250px">
                            <mat-option value="1">Small - 200px </mat-option>
                            <mat-option value="1">Medium - 250px</mat-option>
                            <mat-option value="1">Large - 300px</mat-option>
                        </mat-select>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

            <!-- start row -->
            <div class="row align-items-center justify-content-between mb-3">
                <div class="col-xl-4 col-md-4">
                    <div class="">
                        <h6 class="fs-14 mb-1 fw-semibold">Font Family</h6>
                        <span>Select font family of website</span>
                    </div>
                </div><!-- end col -->
                <div class="col-xl-3 col-md-4">
                    <div class="d-flex align-items-center justify-content-end mt-2 mt-md-0">
                        <mat-select class="custom-mat-select select" placeholder="Instrument Sans">
                            <mat-option value="1">Instrument Sans</mat-option>
                            <mat-option value="1">Nunito</mat-option>
                            <mat-option value="1">Poppins</mat-option>
                        </mat-select>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div>

        <div class="text-end settings-bottom-btn mt-0 border-top d-flex align-items-center justify-content-between pt-4 mb-3">
            <button type="button" class="btn btn-outline-white btn-md me-2">Cancel</button>
            <button type="submit" class="btn btn-primary btn-md">Save Changes</button>
        </div>

    </form>
</div><!-- end col -->