/*circle progress*/
.circle-progress {
	width: 21px;
	height: 21px !important;
	float: left;
	line-height: 21px;
	background: none;
	box-shadow: none;
	position: relative;
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 5px solid #E9EDF4;
		position: absolute;
		top: 0;
		left: 0;
	}
	.progress-left {
		left: 0;
		.progress-bar {
			left: 100%;
			border-top-right-radius: 80px;
			border-bottom-right-radius: 80px;
			border-left: 0;
			-webkit-transform-origin: center left;
			transform-origin: center left;
		}
	}
	.progress-right {
		right: 0;
		.progress-bar {
			left: -100%;
			border-top-left-radius: 80px;
			border-bottom-left-radius: 80px;
			border-right: 0;
			-webkit-transform-origin: center right;
			transform-origin: center right;
			animation: loading-1 1.8s linear forwards;
		}
	}
	.progress-bar {
		width: 100%;
		height: 100%;
		background: none;
		border-width: 5px;
		border-style: solid;
		position: absolute;
		top: 0;
	}
	>span {
		width: 50%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
	}
}