//
// progress.scss
//

@use "../variables" as *;

.progress-bar {
    background-color: $primary;
}
.progress {
    background-color: $light;
    border-radius: $border-radius;
}
.progress-xs {
    height: 3px;
}
.progress-sm {
    height: 5px;
}
.progress-md {
    height: 8px;
}
.progress-lg {
    height: 12px;
}
.progress-xl {
    height: 15px;
}
.progress-with-border {
    .progress-bar+.progress-bar {
        border-left: 3px solid $white;
    }
}
.progress-value {
    display: block;
    position: absolute;
    top: -28px;
    right: 0px;
}