//
// tables.scss
//

@use "../variables" as *;
@use "../utils/mixins" as *;

.table{
    background-color: $white;
    margin-bottom: 0 !important;
    thead{
        tr{
            th {
                font-weight: $font-weight-semibold;
                padding: 8px 16px;
                color: $heading-color;
                border-color: $border-color;
            }
        }
    }
    tbody {
        tr{
            td{
                padding: 12px 16px 12px 16px !important; 
            }
        }
        td {
            vertical-align: middle;
            border-color: $border-color;
        }
    }
}
th {
    font-weight: $font-weight-semibold;
}

.thead-sm {
    > * > * {
        padding: 12px 16px !important;
    }
}

.table-custom {
    tfoot > tr > th:first-child, 
    thead > tr > th:first-child, 
    tr th:first-child, 
    tr td:first-child {
        padding-left: calc(12px * 1.5) !important;
    }

    tfoot > tr > th:last-child, 
    thead > tr > th:last-child, 
    tr th:last-child, 
    tr td:last-child {
        padding-right: 12px !important;
    }
}

// Tables fluid
.table-nowrap {

    th,
    td {
        white-space: nowrap;
    }
}


// dark mode
// [data-bs-theme="dark"] {
//     .table-light {
//         --#{$prefix}table-color: var(--#{$prefix}body-color);
//         --#{$prefix}table-bg: var(--#{$prefix}light);
//         --#{$prefix}table-border-color: var(--#{$prefix}border-color);
//     }
// }