<div class="calendar-header d-flex mb-4 justify-content-between align-items-center">
    <div>
        <button (click)="today()" class="btn btn-primary me-3">Today</button>
        <button (click)="prev()" class="btn btn-primary me-2"><i class="ti ti-chevron-left"></i></button>
        <button (click)="next()" class="btn btn-primary"><i class="ti ti-chevron-right"></i></button>
    </div>

  <h3>{{
      viewDate | date:
        view === CalendarView.Month
          ? 'MMMM yyyy'
          : view === CalendarView.Week
          ? "MMM d, y"
          : 'EEE MMM dd, yyyy'
    }}</h3>
   <div class="view-selector">
    <button (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month" class="btn btn-primary rounded-start rounded-0">Month</button>
    <button (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week" class="btn btn-primary rounded-0">Week</button>
    <button (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day" class="btn btn-primary rounded-end rounded-0">Day</button>
  </div>
</div>

<mwl-calendar-month-view [hidden]="view !== CalendarView.Month"
  [viewDate]="viewDate"
  [events]="events">
</mwl-calendar-month-view>

<mwl-calendar-week-view
  *ngIf="view === CalendarView.Week"
  [viewDate]="viewDate"
  [events]="events">
</mwl-calendar-week-view>

<mwl-calendar-day-view
  *ngIf="view === CalendarView.Day"
  [viewDate]="viewDate"
  [events]="events">
</mwl-calendar-day-view>