@use "../variables" as *;

.trend-tag {
    position: absolute;
    left: 20px;
    top: 20px;
    background: $light;
    display: inline-flex;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.dot-icon{
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 20px;
  }