@use "../variables" as *;
@use "../utils/mixins" as *;

.product-quantity {
    border:1px solid $border-color;
    background-color: $white;
    width: 70px;
    height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border-radius: 60px;
    input {
        width: 25px;
        border: 0;
        background-color: $white;
        text-align: center;
		height: 25px !important;
        outline: 0;
    }
    span {
        font-size: 0;
        cursor: pointer;
        .plus-circle-qty {
            width: 20px;
            height: 20px;
        }
        .feather-search-qty {
            width: 20px;
            height: 20px;
        }
    }
}

.shipment-status {
    .status-stage {
        text-align: center;
        position: relative;
        z-index: 1;
        flex: 1;
        @include respond-below(sm) {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            &::after {
                display: none;
            }
        }
        span {
            width: 32px;
            height: 32px;
            background: $light;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto 6px;
        }
        &::after {
            content: "";
            width: 100%;
            height: 4px;
            background: $light;
            position: absolute;
            right: -50%;
            top: 30%;
            transform: translateY(-50%);
            z-index: -1;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
        &.active {
            span {
                background: $success;
                color: $white;
            }
            &.activate {
                &::after {
                background: $success;
            }
            }
        }
    }
    @include respond-below(xl) {
        p {
            font-size: 13px;
        }
    }
    @include respond-below(md) {
        p {
            font-size: 12px;
        }
    }
}

.dropdown-search {
    width: 95%;
}

.activity-feed {
    &.tracking-stage {
        position: relative;
        .feed-item {
            border-left: 0;
            margin-left: 5px;
            padding-left: 25px;
            &:after {
                content: "";
                top: 14px;
                left: -1px;
                border: 2px solid $white;
                background-color: $white;
            }
            &:before {
                content: "";
                top: 10px;
                left: -5px;
                border: 1px solid $primary;
                background: $primary;
            }
        }
        &::before {
            content: "";
            width: 2px;
            height: 85%;
            background: $border-color;
            position: absolute;
            left: 7px;
            top: 10px;
        }
    }
}

.tracking-detail {
    max-height: 240px;
    overflow-y: auto;
}