<div class="mb-3 pb-2">
    <div class="mb-3 pb-3 border-bottom">
        <h6 class="fw-bold mb-0">Authentication</h6>
    </div>
    
    <!-- start row -->
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-none">
                <div class="card-body">
                    <div class="d-flex align-items-center border-0 mb-3 pb-0">
                        <div class="d-flex align-items-center">
                            <span class="avatar avatar-lg p-2 bg-light rounded flex-shrink-0 me-2"><img src="assets/img/icons/google.svg" alt="Img"></span>
                            <p class="fw-medium text-gray-9">Google</p>
                        </div>
                    </div>
                    <p class="text-truncate line-clamb-2">Streamline your access using your Google account for secure and efficient login to your account.</p>
                </div>
                <!-- end card body -->
                <div class="card-footer bg-light d-flex align-items-center justify-content-between ">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" href="javascript:void(0);"><i class="isax isax-trash" data-bs-toggle="modal" data-bs-target="#delete_modal"></i></a>
                        <a class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#google_login"><i class="isax isax-setting-2"></i></a>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input m-0" type="checkbox" checked="">
                    </div>
                </div>
                <!-- end card footer -->
            </div>
            <!-- end card -->
        </div><!-- end col -->
        <div class="col-md-6">
            <div class="card shadow-none">
                <div class="card-body">
                    <div class="d-flex align-items-center border-0 mb-3 pb-0">
                        <div class="d-flex align-items-center">
                            <span class="avatar avatar-lg p-2 bg-light rounded flex-shrink-0 me-2"><img src="assets/img/icons/facebook.svg" alt="Img"></span>
                            <p class="fw-medium text-gray-9">Facebook</p>
                        </div>
                    </div>
                    <p class="text-truncate line-clamb-2">Quickly log in or register using your Facebook account, easy to manage operations.</p>
                </div>
                <!-- end card body -->
                <div class="card-footer bg-light d-flex align-items-center justify-content-between ">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" href="javascript:void(0);"><i class="isax isax-trash" data-bs-toggle="modal" data-bs-target="#delete_modal"></i></a>
                        <a class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#facebook_login"><i class="isax isax-setting-2"></i></a>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input m-0" type="checkbox" checked="">
                    </div>
                </div>
                <!-- end card footer -->
            </div>
            <!-- end card -->
        </div><!-- end col -->
        <div class="col-md-6">
            <div class="card shadow-none">
                <div class="card-body">
                    <div class="d-flex align-items-center border-0 mb-3 pb-0">
                        <div class="d-flex align-items-center">
                            <span class="avatar avatar-lg p-2 bg-light rounded flex-shrink-0 me-2"><img src="assets/img/icons/apple.svg" alt="Img"></span>
                            <p class="fw-medium text-gray-9">Apple</p>
                        </div>
                    </div>
                    <p class="text-truncate line-clamb-2">Allows users to sign in using their Apple ID, offering secure and privacy-focused access to account.</p>
                </div>
                <!-- end card body -->
                <div class="card-footer bg-light d-flex align-items-center justify-content-between ">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" href="javascript:void(0);"><i class="isax isax-trash" data-bs-toggle="modal" data-bs-target="#delete_modal"></i></a>
                        <a class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#apple_login"><i class="isax isax-setting-2"></i></a>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input m-0" type="checkbox" checked="">
                    </div>
                </div>
                <!-- end card footer -->
            </div>
            <!-- end card -->
        </div><!-- end col -->
        <div class="col-md-6">
            <div class="card shadow-none">
                <div class="card-body">
                    <div class="d-flex align-items-center border-0 mb-3 pb-0">
                        <div class="d-flex align-items-center">
                            <span class="avatar avatar-lg p-2 bg-light rounded flex-shrink-0 me-2"><img src="assets/img/icons/sso.svg" alt="Img"></span>
                            <p class="fw-medium text-gray-9">SSO</p>
                        </div>
                    </div>
                    <p class="text-truncate line-clamb-2">Enables users to access multiple applications or systems with one set of login credentials</p>
                </div>
                <!-- end card body -->
                <div class="card-footer bg-light d-flex align-items-center justify-content-between ">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                        <a class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#sso_login"><i class="isax isax-setting-2"></i></a>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input m-0" type="checkbox" checked="">
                    </div>
                </div>
                <!-- end card footer -->
            </div>
            <!-- end card -->
        </div><!-- end col -->
    </div>
    <!-- end row -->

</div><!-- end col -->


        <!-- Start Google Login Settings -->
        <div class="modal fade" id="google_login">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="mb-0">Google Login Settings</h6>
                        <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Client ID<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Client Secret Key<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-0">
                            <label class="form-label">Login Redirect URL<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between align-items-center">
                        <a href="javascript:void(0);" class="btn btn-outline-white me-3" data-bs-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Google Login Settings -->
        <!-- Start Facebook Login Settings -->
        <div class="modal fade" id="facebook_login">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="mb-0">Facebook Login Settings</h6>
                        <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">API ID<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">API Secret Key<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-0">
                            <label class="form-label">Login Redirect URL<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between align-items-center">
                        <a href="javascript:void(0);" class="btn btn-outline-white me-3" data-bs-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Facebook Login Settings -->

        <!-- Start Apple Login Settings -->
        <div class="modal fade" id="apple_login">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="mb-0">Apple Login Settings</h6>
                        <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Client ID<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Client Secret Key<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-0">
                            <label class="form-label">Login Redirect URL<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between align-items-center">
                        <a href="javascript:void(0);" class="btn btn-outline-white me-3" data-bs-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Apple Login Settings -->

        <!-- Start Sso Login Settings -->
        <div class="modal fade" id="sso_login">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="mb-0">SSO Login Settings</h6>
                        <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Client ID<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Client Secret Key<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-0">
                            <label class="form-label">Login Redirect URL<span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between align-items-center">
                        <a href="javascript:void(0);" class="btn btn-outline-white me-3" data-bs-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sso Login Settings -->

        <!-- Start Delete Modal  -->
		<div class="modal fade" id="delete_modal">
			<div class="modal-dialog modal-dialog-centered modal-sm">
				<div class="modal-content">
					<div class="modal-body text-center">
						<div class="mb-3">
							<img src="assets/img/icons/delete.svg" alt="img">
						</div>
						<h6 class="mb-1">Delete</h6>
						<p class="mb-3">Are you sure,  you want to delete?</p>
						<div class="d-flex justify-content-center">
							<a href="javascript:void(0);" class="btn btn-outline-white me-3" data-bs-dismiss="modal">Cancel</a>
							<a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Yes, Delete</a>
						</div>
					</div><!-- End modal body -->
				</div><!-- End modal content -->
			</div><!-- End modal dialog -->
		</div>
		<!-- End Delete Modal  -->