<div class="mb-3 pb-3 border-bottom">
    <h6 class="fw-bold mb-0">Integrations</h6>
</div>

<!-- start row -->
<div class="row">

    <div class="col-md-6">
        <div class="card shadow-none">
            <div class="card-body">
                <div class="d-flex align-items-center border-0 mb-3 pb-0">
                    <div class="d-flex align-items-center">
                        <span class="avatar avatar-lg p-2 bg-light rounded flex-shrink-0 me-2"><img src="assets/img/icons/mail-icon.svg" alt="Img"></span>
                        <p class="fw-medium text-gray-9">Gmail</p>
                    </div>
                </div>
                <p>Send invoices, payment reminders and customer communication directly </p>
            </div> <!-- end card body -->
            <div class="card-footer bg-light d-flex align-items-center justify-content-between ">
                <a class="btn btn-sm btn-dark rounded-2 p-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                <div class="form-check form-switch">
                    <input class="form-check-input m-0" type="checkbox" checked="">
                </div>
            </div> <!-- end card footer -->
        </div> <!-- end card -->
    </div> <!-- end col -->

    <div class="col-md-6">
        <div class="card shadow-none">
            <div class="card-body">
                <div class="d-flex align-items-center border-0 mb-3 pb-0">
                    <div class="d-flex align-items-center">
                        <span class="avatar avatar-lg p-2 bg-light rounded flex-shrink-0 me-2"><img src="assets/img/icons/calender-icon.svg" alt="Img"></span>
                        <p class="fw-medium text-gray-9">Google Calendar</p>
                    </div>
                </div>
                <p>Automatically schedule invoice due dates and set up payment follow-up.</p>
            </div> <!-- end card body -->
            <div class="card-footer bg-light d-flex align-items-center justify-content-between ">
                <a class="btn btn-sm btn-dark rounded-2 p-1" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                <div class="form-check form-switch">
                    <input class="form-check-input m-0" type="checkbox" checked="">
                </div>
            </div> <!-- end card footer -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>
<!-- end row -->


		<!-- Start Delete Modal  -->
		<div class="modal fade" id="delete_modal">
			<div class="modal-dialog modal-dialog-centered modal-sm">
				<div class="modal-content">
					<div class="modal-body text-center">
						<div class="mb-3">
							<img src="assets/img/icons/delete.svg" alt="img">
						</div>
						<h6 class="mb-1">Delete</h6>
						<p class="mb-3">Are you sure,  you want to delete?</p>
						<div class="d-flex justify-content-center">
							<a href="javascript:void(0);" class="btn btn-outline-white me-3" data-bs-dismiss="modal">Cancel</a>
							<a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Yes, Delete</a>
						</div>
					</div><!-- End modal body -->
				</div><!-- End modal content -->
			</div><!-- End modal dialog -->
		</div>
		<!-- End Delete Modal  -->