//
// accordions.scss
//

.accordion-button {
    font-weight: $font-weight-medium;
}

.accordion-bordered {
    .accordion-item {
        border-top: $accordion-border-width solid $accordion-border-color;
        border-radius: $accordion-border-radius;

        &:not(:first-of-type) {
            margin-top: 0.5rem;
        }

        .accordion-button {
            border-radius: $accordion-border-radius;

            &:not(.collapsed) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

.accordion-arrow-none {
    .accordion-button {
        &::after {
            background-image: none;
        }
    }
}

.accordion-custom-icon {
    .accordion-icon {
        position: absolute;
        right: $accordion-padding-x;
    }
    .accordion-icon-off {
        display: none;
    }

    [aria-expanded="true"] {
        .accordion-icon-off {
            display: block;
        }
        .accordion-icon-on {
            display: none;
        }
    }
}








.accordions-items-seperate {
    .accordion-item:not(:first-of-type) {
        margin-block-start: 1rem;
    }
    .accordion-item {
        border-radius: $border-radius;
        overflow: hidden;
    }
}


.accordion {
    &.accordion-primary {
        .accordion-button {
            background-color: rgba($primary, 0.1);
            color: $primary;
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    background-color: var(--#{$prefix}white);
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-secondary {
        .accordion-button {
            background-color: rgba($secondary,0.1);
            color: $secondary;
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    background-color: var(--#{$prefix}white);
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-success {
        .accordion-button {
            background-color: rgba($success,0.1);
            color: $success;
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    background-color: var(--#{$prefix}white);
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-danger {
        .accordion-button {
            background-color: rgba($danger,0.1);
            color: $danger;
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    background-color: var(--#{$prefix}white);
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-warning {
        .accordion-button {
            background-color: rgba($warning,0.1);
            color: $warning;
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    background-color: var(--#{$prefix}white);
                   // color: $text-color;
                }
            }
        }
    }
    &.accordion-info {
        .accordion-button {
            background-color: rgba($info,0.1);
            color: $info;
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    background-color: var(--#{$prefix}white);
                    color: $body-color;
                }
            }
        }
    }
}
.accordion {
    &.accordion-solid-primary {
        .accordion-button {
            background-color: $primary;
            color: var(--#{$prefix}white);
            &:after { 
                background-color: transparent;
                color: var(--#{$prefix}white);
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-solid-secondary {
        .accordion-button {
            background-color: $secondary;
            color: var(--#{$prefix}white);
            &:after {
                background-color: transparent;
                color: var(--#{$prefix}white);
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-solid-success {
        .accordion-button {
            background-color: $success;
            color: var(--#{$prefix}white);
            &:after {
                background-color: transparent;
                color: var(--#{$prefix}white);
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-solid-danger {
        .accordion-button {
            background-color: $danger;
            color: var(--#{$prefix}white);
            &:after {
                background-color: transparent;
                color: var(--#{$prefix}white);
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-solid-warning {
        .accordion-button {
            background-color: $warning;
            color: var(--#{$prefix}white);
            &:after {
                background-color: transparent;
                color: var(--#{$prefix}white);
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    color: $body-color;
                }
            }
        }
    }
    &.accordion-solid-info {
        .accordion-button {
            background-color: $info;
            color: var(--#{$prefix}white);
            &:after {
                background-color: transparent;
                color: var(--#{$prefix}white);
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &.collapsed {
                background-color: var(--#{$prefix}white);
                color: $body-color;
                &:after { 
                    color: $body-color;
                }
            }
        }
    }
}
.accordion {
    &.accordion-border-primary {
        .accordion-item {
            border: 1px solid $primary;
        }
        .accordion-button {
            background-color: var(--#{$prefix}white);
            color: $primary;
            border-block-end: 0px;
            &:after { 
                background-color: var(--#{$prefix}white);
                color: $primary;
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &:not(.collapsed) {
                border-block-end: 1px solid $primary;
            }
        }
    }
    &.accordion-border-secondary {
        .accordion-item {
            border: 1px solid $secondary;
        }
        .accordion-button {
            background-color: var(--#{$prefix}white);
            color: $secondary;
            border-block-end: 0px;
            &:after { 
                background-color: var(--#{$prefix}white);
                color: $secondary;
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &:not(.collapsed) {
                border-block-end: 1px solid $secondary;
            }
        }
    }
    &.accordion-border-success {
        .accordion-item {
            border: 1px solid $success;
        }
        .accordion-button {
            background-color: var(--#{$prefix}white);
            color: $success;
            border-block-end: 0px;
            &:after { 
                background-color: var(--#{$prefix}white);
                color: $success;
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &:not(.collapsed) {
                border-block-end: 1px solid $success;
            }
        }
    }
    &.accordion-border-danger {
        .accordion-item {
            border: 1px solid $danger;
        }
        .accordion-button {
            background-color: var(--#{$prefix}white);
            color: $danger;
            border-block-end: 0px;
            &:after { 
                background-color: var(--#{$prefix}white);
                color: $danger;
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &:not(.collapsed) {
                border-block-end: 1px solid $danger;
            }
        }
    }
    &.accordion-border-warning {
        .accordion-item {
            border: 1px solid $warning;
        }
        .accordion-button {
            background-color: var(--#{$prefix}white);
            color: $warning;
            border-block-end: 0px;
            &:after { 
                background-color: var(--#{$prefix}white);
                color: $warning;
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &:not(.collapsed) {
                border-block-end: 1px solid $warning;
            }
        }
    }
    &.accordion-border-info {
        .accordion-item {
            border: 1px solid $info;
        }
        .accordion-button {
            background-color: var(--#{$prefix}white);
            color: $info;
            border-block-end: 0px;
            &:after { 
                background-color: var(--#{$prefix}white);
                color: $info;
                content: "\ea5f";
                font-family: "tabler-icons";
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: none;
            }
            &:not(.collapsed) {
                border-block-end: 1px solid $info;
            }
        }
    }
}