
/*============================
  27.notes
============================*/

.notes-tog {
    i {
        transform: rotate(180deg);
    }
    &.active {
        i {
            transform: rotate(0deg);
        }
    }
}
.section-bulk-wrap {
    .form-sort {
        position: relative;
    }
}
.section-bulk-widget {
    transition: 0.6s all
}
.section-notes-dashboard {
    display: none;
    transition: 0.6s all
}
.notes-tog {
    i {
        transition: 0.5s all;
    }
}
.notes-tag-left {
    .notes-tog {
        i {
            transform: rotate(360deg);
            transition: 0.5s all;
        }
    }
}
.budgeted-role-notes {
    width: 100%;
}
.notes-summernote .card{
    margin-bottom: 0 !important;
}
.dropdown-item:active {
    background: transparent;
}
.notes-summernote p {
    color: $text-color;
    font-size: $font-size-15;
    font-weight: $font-weight-normal;
}
.budget-role-notes {
    .owl-carousel .owl-nav {
        margin: 0;
        position: absolute;
    }
}
.custom-pagination {
    .paginations {
        align-items: center;
        span {
            display: flex;
            align-items: center;
            color: $text-color;
            width: 16px;
            height: 16px;
            .fa-chevron-left {
                margin-right: 8px;
            }
        }
        .page-wrap {
            li {
                a {
                    margin-right: 8px;
                    border-radius: 85px;
                    color:$text-color;
                    font-size: $font-size-base;
                    font-weight: $font-weight-medium;                    
                    display: flex;
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                    justify-content: center;
                    align-items: center;
                    &.active {
                        background: $primary;
                        color: $white;
                    }                         
                }  
                :hover {
                    background: $primary;
                    color: $white;
                    transition: .3s all;
                }                                   
            }                
        }
    } 
}
.accordion-button:after, .accordion-button:not(.collapsed)::after{
    display:none;
}
.todo-accordion .accordion-item {
    background: transparent;
    margin-bottom: 15px;
    border: 0;
    padding: 0;
}
.line-clamb-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.notes-tog {
    bottom: -15px;
}
.input-blocks {
    input[type=text] {
        &.datetimepicker {
            padding-left: 35px;
        }
    }
}
.iti__country-list {
    z-index: 101;
}
.nav-control {
    display: flex;
    align-items: center;
    button {
        border: 1px solid var(--#{$prefix}border-color);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background: $white;
        color: $gray-700;
        font-size: $font-size-11;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: $dark;
            color: $white;
        }
        &.owl-prev {
            margin-right: 8px;
        }
    }
}
.social-gallery-slider, .email-attach {
    a{
        position: relative;
        transition: 0.5s all;
        &:hover{
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background: var(--#{$prefix}gray-900);
                opacity: 0.8;
                position: absolute;
                transition: 0.5s all;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
            span{
                top: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s all;
                opacity: 0.5;
            }
        }
        span{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translatex(-50%);
            transition: 0.5s all;
            background: $white;
            opacity: 0;
            color: var(--#{$prefix}gray-900);
        }
    }
}
.template-more-links a + a::before {
    content: "/";
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
}
.template-more-links a + a {
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
}
.project-status {
    min-width: 265px;
}
.kanban-drag-wrap {
    min-width: 241px;
    min-height: 50px;
}
.tag-with-img {
    .bootstrap-tagsinput {
        border: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        .label-info {
            padding: 5px 10px 5px 30px;
            position: relative;
            background: #F4F4F4;
            border-radius: 20px;
            color: var(--#{$prefix}gray-900)
        }
        .label-info::before {
            content: "";
            background-image: url(../../../../public/assets/img/users/user-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.email-cc {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.mail-detail {
    .slimScrollDiv {
        height: calc(100vh - 95px) !important;
    }
}
.email-sidebar {
    .slimScrollDiv {
        height: calc(100vh - 105px) !important;
    }
}
.mail-notifications {
    .slimScrollDiv {
        height: calc(100vh - 63px) !important;
    }
}