//
// _utilities.scss
//


.bd-example-zindex-levels {
    min-height: 15rem;
    z-index: 1;
  
    > div {
      color: var(--bs-body-bg);
  
      > span {
        position: absolute;
        right: 5px;
        bottom: 0;
      }
    }
  
    > :nth-child(2) {
      top: 1.5rem;
      left: 1.5rem;
    }
  
    > :nth-child(3) {
      top: 3rem;
      left: 3rem;
    }
  
    > :nth-child(4) {
      top: 4.5rem;
      left: 4.5rem;
    }
  
    > :nth-child(5) {
      top: 6rem;
      left: 6rem;
    }
  }
  
.color-container {
    width: 5rem;
    height: 5rem;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
  }
  .text-container {
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
  .color-box {
      width: 80px;
      height: 80px;
      border-radius: $border-radius;
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;
  }

  .fs-1 {
      font-size: 0.0625rem; //1px
  }
  .fs-2 {
      font-size: 0.125rem; //2px
  }
  .fs-3 {
      font-size: 0.1875rem; //3px
  }
  .fs-4 {
    font-size: 0.25rem !important; //4px
  }
  .fs-5 {
      font-size: 0.3125rem !important; //5px
  }
  .fs-6 {
      font-size: 0.375rem  !important; //6px
  }
  .fs-7 {
      font-size: 0.4375rem; //7px
  }
  .fs-8 {
    font-size: 0.5rem  !important; //8px
  }
  .fs-9 {
      font-size: 0.5625rem; //9px
  }
  .fs-10 {
      font-size: 0.75em !important;
  }
  .fs-11 {
      font-size: 0.6875rem !important; //11px
  }
  .fs-12 {
      font-size: 0.75rem !important; //12px
  }
  .fs-13 {
      font-size: 0.8125rem; //13px
  }
  .fs-14 {
      font-size: 0.875rem !important; //14px
  }
  .fs-15 {
      font-size: 0.9375rem; //15px
  }
  .fs-16 {
      font-size: 1rem; //16px
  }
  .fs-17 {
      font-size: 1.0625rem; //17px
  }
  .fs-18 {
      font-size: 1.125rem; //18px
  }
  .fs-19 {
      font-size: 1.1875rem; //19px
  }
  .fs-20 {
      font-size: 1.25rem; //20px
  }
  .fs-21 {
      font-size: 1.3125rem; //21px
  }
  .fs-22 {
      font-size: 1.375rem; //22px
  }
  .fs-23 {
      font-size: 1.4375rem; //23px
  }
  .fs-24 {
      font-size: 1.5rem; //24px
  }
  .fs-25 {
      font-size: 1.5625rem; //25px
  }
  .fs-26 {
      font-size: 1.625rem; //26px
  }
  .fs-27 {
      font-size: 1.6875rem; //27px
  }
  .fs-28 {
      font-size: 1.75rem; //28px
  }
  .fs-29 {
      font-size: 1.8125rem; //29px
  }
  .fs-30 {
      font-size: 1.875rem; //30px
  }
  .fs-32 {
      font-size: 2rem; //32px
  }
  .fs-34 {
      font-size: 2.125rem; //34px
  }
  .fs-36 {
      font-size: 2.25rem; //36px
  }
  .fs-38 {
    font-size: 2.375rem; //38px
  }
  .fs-40 {
      font-size: 2.5rem; //40px
  }  
  .fs-48{
      font-size: 48px; //48px
  }