 <!-- Page Header -->
 <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2 pb-3">
  <div class="flex-grow-1">
      <h4 class="fs-18 fw-semibold mb-0">Prime NG Chart</h4>
  </div>
  <div class="text-end">
      <ol class="breadcrumb m-0 py-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
          <li class="breadcrumb-item active">Prime NG Chart</li>
      </ol>
  </div>
 </div>
 <!-- End Page Header -->
<div class="cardhead">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row">
          <div class="col-sm-12">
              <h3 class="page-title">Charts</h3>
          </div>
      </div>
  </div>
  <!-- /Page Header -->
  <div class="row">

      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Bar Chart</div>
              </div>
              <div class="card-body">
                  <div>
                      <div class="chart-container">
                          <canvas id="piechart" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->

      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Transparency </div>
              </div>
              <div class="card-body">
                  <div>
                      <div class="chart-container">
                          <canvas id="pieschart" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->

      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Gradient Bar Chart</div>
              </div>
              <div class="card-body">
                  <div>
                      <div class="chart-container">
                          <canvas id="piecharts" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->


      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Horizontal Bar Chart</div>
              </div>
              <div class="card-body">
                  <div class="chartjs-wrapper-demo">
                      <div class="chart-container">
                          <canvas id="horcharts" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->

      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Horizontal Bar Chart Style2</div>
              </div>
              <div class="card-body">
                  <div class="chartjs-wrapper-demo">
                      <div class="chart-container">
                          <canvas id="stackcharts" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->

      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Vertical Stacked Bar Chart</div>
              </div>
              <div class="card-body">
                  <div class="chartjs-wrapper-demo">
                      <div class="chart-container">
                          <canvas id="verstackcharts" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->

      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Donut Chart</div>
              </div>
              <div class="card-body">
                  <div class="chartjs-wrapper-demo">
                      <div class="chart-container">
                          <canvas id="doughcharts" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->

      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Pie Chart</div>
              </div>
              <div class="card-body">
                  <div class="chartjs-wrapper-demo">
                      <div class="chart-container">
                          <canvas id="peichrt" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->

      <!-- Chart -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="card-title">Area Chart</div>
              </div>
              <div class="card-body">
                  <div class="chartjs-wrapper-demo">
                      <div class="chart-container">
                          <canvas id="MyChart" class="h-300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Chart -->

  </div>
</div>