<div class="">
    <div>
        <div class="pb-3 d-flex align-items-center justify-content-between border-bottom mb-3">
            <h6 class="mb-0">Email Settings</h6>
            <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sendgrid"><i class="isax isax-send-25 me-1"></i>Send Test Email</a>
        </div>
        <div class="mb-0">

            <!-- start row -->
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap gap-2">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-lg bg-light me-2 p-2 flex-shrink-0">
                                        <img src="assets/img/settings/phpmail.svg" class="img-fluid" alt="img">
                                    </span>
                                    <p class="text-gray-9 fw-medium">PHP Mailer</p>
                                </div>
                                <span class="badge badge-soft-success d-flex align-items-center">
                                    <span class="badge-dot bg-success me-1"></span> Connected
                                </span>
                            </div>
                            <p class="fs-13">Used to send emails safely and easily via PHP code from a web server.</p>
                        </div>
                        <div class="card-footer bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="isax isax-trash fs-14"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" data-bs-toggle="modal" data-bs-target="#phpmailersettings">
                                        <i class="isax isax-setting-2 fs-14"></i>
                                    </a>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input ms-0" type="checkbox" role="switch" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap gap-2">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-lg bg-light me-2 p-2 flex-shrink-0">
                                        <img src="assets/img/settings/smtp.svg" class="img-fluid" alt="img">
                                    </span>
                                    <p class="text-gray-9 fw-medium">SMTP</p>
                                </div>
                                <span class="badge badge-soft-success d-flex align-items-center">
                                    <span class="badge-dot bg-success me-1"></span> Connected
                                </span>
                            </div>
                            <p class="fs-13">SMTP is used to send, relay or forward messages from a mail client.</p>
                        </div><!-- end card body -->
                        <div class="card-footer bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="isax isax-trash fs-14"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" data-bs-toggle="modal" data-bs-target="#smtpsettings">
                                        <i class="isax isax-setting-2 fs-14"></i>
                                    </a>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input ms-0" type="checkbox" role="switch" checked>
                                </div>
                            </div>
                        </div><!-- end card footer -->
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-md-6 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap gap-2">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-lg bg-light me-2 p-2 flex-shrink-0">
                                        <img src="assets/img/settings/sendgrid.svg" class="img-fluid" alt="img">
                                    </span>
                                    <p class="text-gray-9 fw-medium">Send Grid</p>
                                </div>
                                <span class="badge badge-soft-primary d-flex align-items-center">
                                    <span class="badge-dot bg-dark me-1"></span> Not Connected
                                </span>
                            </div>
                            <p class="fs-13">Cloud-based email marketing tool that assists marketers and developers.</p>
                        </div><!-- end card body -->
                        <div class="card-footer bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="isax isax-trash fs-14"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-dark rounded-2 d-inline-flex align-items-center justify-content-center p-1 me-2" data-bs-toggle="modal" data-bs-target="#phpmailersettings">
                                        <i class="isax isax-setting-2 fs-14"></i>
                                    </a>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input ms-0" type="checkbox" role="switch" checked>
                                </div>
                            </div>
                        </div><!-- end card footer -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div>
    </div>
</div><!-- end col -->


 <!-- Start Add Modal  -->
 <div id="phpmailersettings" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">PHP Mailer</h4>
                <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">From Email Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Email Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <label class="form-label">From Email Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer d-flex align-items-center justify-content-between gap-1">
                    <button type="button" class="btn btn-outline-white" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Add Modal -->

<!-- Start Add Modal  -->
<div id="smtpsettings" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SMTP</h4>
                <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">From Email Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Email Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Email Host <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <label class="form-label">Port <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer d-flex align-items-center justify-content-between gap-1">
                    <button type="button" class="btn btn-outline-white" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Add Modal -->

<!-- Start Add Modal  -->
<div id="sendgrid" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Test Mail</h4>
                <button type="button" class="btn-close btn-close-modal custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <label class="form-label">Email Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>


                    </div>


                </div>
                <div class="modal-footer d-flex align-items-center justify-content-between gap-1">
                    <button type="button" class="btn btn-outline-white" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Add Modal -->

<!-- Start Delete Modal  -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="mb-3">
                    <img src="assets/img/icons/delete.svg" alt="img">
                </div>
                <h6 class="mb-1">Delete</h6>
                <p class="mb-3">Are you sure, you want to delete?</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-outline-white me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Delete Modal  -->