<div class="">
    <div class="mb-3">
        <div class="pb-3 border-bottom mb-3">
            <h6 class="mb-0">Thermal Printer</h6>
        </div>
        <form>
            <div class="">

                <!-- start row -->
                <div class="row align-items-center">
                    <div class="col-9">
                        <label class="form-label fw-medium mb-3">Show Terms on ThermalPrint </label>
                    </div><!-- end col -->
                    <div class="col-3 mb-3">
                        <div class="form-check form-switch d-flex justify-content-end">
                            <input class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <!-- start row -->
                <div class="row align-items-center">
                    <div class="col-9">
                        <label class="form-label fw-medium mb-3">Show Google Reviews QR </label>
                    </div><!-- end col -->
                    <div class="col-3 mb-3">
                        <div class="form-check form-switch d-flex justify-content-end">
                            <input class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <!-- start row -->
                <div class="row align-items-center">
                    <div class="col-9">
                        <label class="form-label fw-medium mb-3">Show Taxable Amount </label>
                    </div><!-- end col -->
                    <div class="col-3 mb-3">
                        <div class="form-check form-switch d-flex justify-content-end">
                            <input class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <!-- start row -->
                <div class="row align-items-center">
                    <div class="col-9">
                        <label class="form-label fw-medium mb-3">Show Company Details </label>
                    </div><!-- end col -->
                    <div class="col-3 mb-3">
                        <div class="form-check form-switch d-flex justify-content-end">
                            <input class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <!-- start row -->
                <div class="row align-items-center">
                    <div class="col-9">
                        <label class="form-label fw-medium mb-3">Show Item Description </label>
                    </div><!-- end col -->
                    <div class="col-3 mb-3">
                        <div class="form-check form-switch d-flex justify-content-end">
                            <input class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <!-- start row -->
                <div class="row align-items-center">
                    <div class="col-md-8 col-sm-12">
                        <label class="form-label fw-medium">Organization Name Font Size </label>
                    </div><!-- end col -->
                    <div class="col-md-4 col-sm-12">
                        <div>
                            <div class="mb-3">
                                <input type="text" class="form-control" value="24">
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <!-- start row -->
                <div class="row align-items-center">
                    <div class="col-md-8 col-sm-12">
                        <label class="form-label fw-medium">Company Name Font Size </label>
                    </div><!-- end col -->
                    <div class="col-md-4 col-sm-12">
                        <div>
                            <div class="mb-3">
                                <input type="text" class="form-control" value="24">
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <!-- start row -->
                <div class="row align-items-center mb-3">
                    <div class="col-md-8 col-sm-12">
                        <label class="form-label fw-medium">Select Printer </label>
                    </div><!-- end col -->
                    <div class="col-md-4 col-sm-12">
                        <mat-select class="custom-mat-select select" placeholder="Select">
                            <mat-option value="1">Thermal Printer 80 mm</mat-option>
                        </mat-select>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <!-- start row -->
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <label class="form-label fw-medium">Notes </label>
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <textarea class="form-control" placeholder=""></textarea>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

            </div>
        </form>
    </div>
</div><!-- end col -->