<!-- Start row -->
<div class="row">
  <div class="col-md-10 mx-auto">
      <div>
          <div class="d-flex align-items-center justify-content-between mb-3">
              <h6><a [routerLink]="routes.productlist"><i class="isax isax-arrow-left me-2"></i>Products</a></h6>
              <a href="javascript:void(0);" class="btn btn-outline-white d-inline-flex align-items-center"><i class="isax isax-eye me-1"></i>Preview</a>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="mb-3">Basic Details</h6>
                  <form>
                      <div class="mb-3">
                          <span class="text-gray-9 fw-bold mb-2 d-flex">Product Image<span class="text-danger ms-1">*</span></span>
                          <div class="d-flex align-items-center">
                              <div class="avatar avatar-xxl border border-dashed bg-light me-3 flex-shrink-0">
                                  <i class="isax isax-image text-primary fs-24"></i>
                              </div>
                              <div class="d-inline-flex flex-column align-items-start">
                                  <div class="drag-upload-btn btn btn-sm btn-primary position-relative mb-2">
                                      <i class="isax isax-image me-1"></i>Upload Image
                                      <input type="file" class="form-control image-sign" multiple="">
                                  </div>
                                  <span class="text-gray-9 fs-12">JPG or PNG format, not exceeding 5MB.</span>
                              </div>
                          </div>
                      </div>
                      <label class="form-label">Item Type<span class="text-danger ms-1">*</span></label>
                      <div class="d-flex align-items-center mb-3">
                          <div class="form-check me-3">
                              <input class="form-check-input" type="radio" name="Radio" id="Radio-sm-1" checked>
                              <label class="form-check-label" for="Radio-sm-1">
                                  Product
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="Radio" id="Radio-sm-2">
                              <label class="form-check-label" for="Radio-sm-2">
                                  Service
                              </label>
                          </div>
                      </div>
                      <div class="row gx-3">
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Name<span class="text-danger ms-1">*</span></label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Code<span class="text-danger ms-1">*</span></label>
                                  <div class="position-relative">
                                      <input type="text" class="form-control">
                                      <a href="javascript:void(0);" class="btn btn-sm btn-dark position-absolute end-0 top-0 bottom-0 mx-2 my-1 d-inline-flex align-items-center">Generate</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Category<span class="text-danger ms-1">*</span></label>
                                  <mat-select class="custom-mat-select select" placeholder="Select">
                                      <mat-option value="1">Select</mat-option>
                                      <mat-option value="1">Smartphones</mat-option>
                                      <mat-option value="1">Laptops</mat-option>
                                      <mat-option value="1">Headphones</mat-option>
                                      <mat-option value="1">Computer Service</mat-option>
                                      <mat-option value="1">Footwear</mat-option>
                                      <mat-option value="1">Kitchen</mat-option>
                                      <mat-option value="1">Cleaning</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Selling Price<span class="text-danger ms-1">*</span></label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Purchase Price<span class="text-danger ms-1">*</span></label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Quantity<span class="text-danger ms-1">*</span></label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Units<span class="text-danger ms-1">*</span></label>
                                  <mat-select class="custom-mat-select select" placeholder="Select">
                                      <mat-option value="1">Select</mat-option>
                                      <mat-option value="1">Kilograms (Kg)</mat-option>
                                      <mat-option value="1">Gram (g)</mat-option>
                                      <mat-option value="1">Liter (l)</mat-option>
                                      <mat-option value="1">Millimetre (mm)</mat-option>
                                      <mat-option value="1">Milliliter (ml)</mat-option>
                                      <mat-option value="1">Pack (pk)</mat-option>
                                      <mat-option value="1">Piece (pc)</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Discount Type<span class="text-danger ms-1">*</span></label>
                                  <mat-select class="custom-mat-select select" placeholder="Select">
                                      <mat-option value="1">Select</mat-option>
                                      <mat-option value="1">%</mat-option>
                                      <mat-option value="1">Fixed</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Barcode<span class="text-danger ms-1">*</span></label>
                                  <div class="position-relative">
                                      <input type="text" class="form-control">
                                      <a href="javascript:void(0);" class="btn btn-sm btn-dark position-absolute end-0 top-0 bottom-0 mx-2 my-1 d-inline-flex align-items-center">Generate</a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Alert Quantity<span class="text-danger ms-1">*</span></label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Tax<span class="text-danger ms-1">*</span></label>
                                  <mat-select class="custom-mat-select select" placeholder="Select">
                                      <mat-option value="1">Select</mat-option>
                                      <mat-option value="1">VAT (10%)</mat-option>
                                      <mat-option value="1">CGST (08%)</mat-option>
                                      <mat-option value="1">SGST (10%)</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="mb-3">
                                  <label class="form-label">Product Description</label>
                                  <ngx-editor [editor]="editor">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" >
                                    </ngx-editor-menu>
                                 </ngx-editor>
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="mb-3 pb-3 border-bottom">
                                  <label class="form-label">Gallery Images</label>
                                  <div class="file-upload drag-file w-100 d-flex align-items-center justify-content-center flex-column">
                                      <span class="upload-img d-block mb-2"><i class="isax isax-image text-primary"></i></span>
                                      <p class="mb-0 text-gray-9 fw-semibold">Drop Your Files or <a href="javascript:void(0);" class="text-primary text-decoration-underline">
              Browse</a></p>
                                      <input type="file" accept="video/image">
                                      <p class="fs-13">Max Upload Size 800x800px. PNG / JPEG file, Maximum Upload size 5MB</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                          <button type="button" class="btn btn-outline-white">Cancel</button>
                          <button type="submit" class="btn btn-primary">Create New</button>
                      </div>
                  </form>
              </div><!-- End card body -->
          </div><!-- End card -->
      </div>
  </div><!-- End col -->
</div>
<!-- End row -->